*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

.container{
    width:100%;
    height:100vh;
    background-color:#00ffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background: #000000;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(175, 23, 23, 0),6px 16px 15px rgba(203, 252, 240, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 12px; 
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 145px;

}
form input.operator{
    color: #0000ff;
}
h1{
    text-align: center;
    color:red;
    background-color:purple;
}